<section class="section-price">
  <div class="container-price-fluid">
    <div class="container-price">
      <div class="row">

        <div class="col-sm">
          <div class="card-price" style="height:100%;">
            <div class="title">
              <i class="fa fa-paper-plane"></i>
              <h2>Site vitrine <br>
                standard</h2>
            </div>
            <div class="price">
              <span style="color:white;">A partir de</span>
              <h4>1499€*</h4>
            </div>
            <div class="option">
              <ul>
                <li><i class="fa fa-check"></i> Développé sous WORDPRESS </li>
                <li><i class="fa fa-check"></i> Charte graphique à partir d'une maquette </li>
                <li><i class="fa fa-check"></i> Sélection d'une palette de couleur </li>
                <li><i class="fa fa-check"></i> Domaine + hébergement + e-mail (12 mois) </li>
                <li><i class="fa fa-check"></i> Interface administrateur STANDARD </li>
                <li><i class="fa fa-check"></i> Site responsive (adapté tous supports) </li>
                <li><i class="fa fa-check"></i> Mise en place du contenu (textes & images) </li>
                <li><i class="fa fa-check"></i> Formulaire de contact </li>
                <li><i class="fa fa-check"></i> Liens de partage sur les réseaux sociaux </li>
                <li><i class="fa fa-check"></i> Optimisation du référencement </li>
                <li><i class="fa fa-check"></i> Statistiques de visite </li>
                <li><i class="fa fa-check"></i> Mise en ligne du site </li>
                <li><i class="fa fa-check"></i> Formation utilisation du site </li>
              </ul>
            </div>
            <a href='mailto:nicolas.formet@hotmail.fr'> Contactez-moi </a>
          </div>
        </div>

        <div class="col-sm">
          <div class="card-price">
            <div class="title">
              <i class="fa fa-rocket"></i>
              <h2>Site vitrine
                SUR-MESURE</h2>
            </div>
            <div class="price">
              <span style="color:white;">A partir de</span>
              <h4>1999€ *</h4>
            </div>
            <div class="option">
              <ul>
                <li><i class="fa fa-check"></i> Développé SUR-MESURE (Codage à la main) </li>
                <li><i class="fa fa-check"></i> Création charte graphique personnalisée </li>
                <li><i class="fa fa-check"></i> Proposition de logo </li>
                <li><i class="fa fa-check"></i> Domaine + hébergement + e-mail (12 mois) </li>
                <li><i class="fa fa-check"></i> Interface administrateur SUR-MESURE </li>
                <li><i class="fa fa-check"></i> Site responsive (adapté tous supports) </li>
                <li><i class="fa fa-check"></i> Mise en place du contenu (textes & images) </li>
                <li><i class="fa fa-check"></i> Formulaire de contact & Map </li>
                <li><i class="fa fa-check"></i> Liens de partage sur les réseaux sociaux </li>
                <li><i class="fa fa-check"></i> Optimisations (référencement et performances) </li>
                <li><i class="fa fa-check"></i> Statistiques de visite </li>
                <li><i class="fa fa-check"></i> Mise en ligne du site </li>
                <li><i class="fa fa-check"></i> Formation utilisation du site </li>
              </ul>
            </div>
            <a href='mailto:nicolas.formet@hotmail.fr'> Contactez-moi </a>
          </div>
        </div>

        <div class="col-sm">
          <div class="card-price">
            <div class="title">
              <i class="fa fa-plane"></i>
              <h2>Plateforme
                e-commerce</h2>
            </div>
            <div class="price">
              <span style="color:white;">A partir de</span>
              <h4>2999€ *</h4>
            </div>
            <div class="option">
              <ul>
                <li><i class="fa fa-check"></i> Woocommerce, Shopify ou WORDPRESS </li>
                <li><i class="fa fa-check"></i> Création charte graphique personnalisée </li>
                <li><i class="fa fa-check"></i> Proposition de logo </li>
                <li><i class="fa fa-check"></i> Domaine + hébergement + e-mail (12 mois) </li>
                <li><i class="fa fa-check"></i> Installation & configuration des plugins choisis </li>
                <li><i class="fa fa-check"></i> Site responsive (adapté tous supports) </li>
                <li><i class="fa fa-check"></i> Mise en place du contenu (textes & images) </li>
                <li><i class="fa fa-check"></i> Formulaire de contact & Map </li>
                <li><i class="fa fa-check"></i> Liens de partage sur les réseaux sociaux </li>
                <li><i class="fa fa-check"></i> Optimisations (référencement et performances) </li>
                <li><i class="fa fa-check"></i> Statistiques de visite </li>
                <li><i class="fa fa-check"></i> Mise en ligne du site </li>
                <li><i class="fa fa-check"></i> Formation utilisation du site </li>
              </ul>
            </div>
            <a href='mailto:nicolas.formet@hotmail.fr'> Contactez-moi </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</section>