<section class="section-price">
    <div class="container-price-fluid">
      <div class="container-price">
        <div class="row">
  
          <div class="col-sm">
            <div class="card-price" style="height:100%;">
              <div class="title">
                <i class="fa fa-paper-plane"></i>
                <h2>Forfait
                    Maintenance</h2>
              </div>
              <div class="price">
                <h4>50€/HEURE ** ou 400€/AN ***</h4>
              </div>
              <div class="option">
                <ul>
                    <li><i class="fa fa-check"></i> Mises à jour site internet & plugins </li>
                    <li><i class="fa fa-check"></i> Petites modifications graphiques ou de contenu </li>
                    <li><i class="fa fa-check"></i> Sauvegardes externalisées mensuelles </li>
                    <li><i class="fa fa-check"></i> Optimisation performances </li>
                    <li><i class="fa fa-check"></i> Restauration en cas de piratage </li>
                </ul>
              </div>
              <a href='mailto:nicolas.formet@hotmail.fr'> Contactez-moi </a>
            </div>
          </div>
  
          <div class="col-sm">
            <div class="card-price">
              <div class="title">
                <i class="fa fa-rocket"></i>
                <h2>Développements
                    spécifiques</h2>
              </div>
              <div class="price">
                <h4>Taux journalier moyen 400€/JOUR</h4>
              </div>
              <span style="color:white;"> Vous avez une demande particulière?<br>
            Vous recherchez un développeur pour aider votre équipe?<br>
            Vous avez un projet qui sort de l'ordinaire?<br>
            Vous avez besoin de conseil ou d'un audit?<br>
            Besoin d'aide?

            </span>
              <a href='mailto:nicolas.formet@hotmail.fr'> Contactez-moi </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
        <span style="margin-top: 5%;">
          L'ensemble des tarifs indiqués sont H.T. * Prix à titre informatif : Changement possible selon les demandes et les
          choix du client. ** Estimation du temps de travail appuyé par un devis. *** Maintenance annuelle (engagement 12
          mois). Droit d'auteur & propriété intellectuelle : Vous êtes à la fin du projet, propriétaire de l'ensemble des
          sources (fichiers) composant celui-ci. Paiment possible en plusieurs fois.
        </span>
        </div>
  </section>